/BigMode2026_Slick/BigMode2026_Slick/bin/
/BigMode2026_Slick/BigMode2026_Slick/obj/
/BigMode2026_Slick/BigMode2026_Slick/.config/
/BigMode2026_Slick/BigMode2026_Slick/@Data/bin/
/BigMode2026_Slick/BigMode2026_Slick/@Data/obj/
/BigMode2026_Slick/.vs/
/BigMode2026_Slick/BigMode2026_Slick/BigMode2026_Slick.csproj.user
